*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: #f2f2f2;
}
.bg-orange{
    background:  #ffa54d;
}
.line-height{
    line-height: 30px;
}
.hover:hover{
    background: #ffa54d;
    color: white;
}

.footer-end{
    background-color: #1f203a;
    height:10vh;
}

.img-heith{
    height: 350px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: 60px;
}


.boredr-bottom{
    border-bottom: 1px solid black;
}

.fith{
    height: 285px;
    object-fit: cover;
}


.footer{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../image/w4-min.jpg);
    height: 80vh;
}


.geeks{
    overflow: hidden;
    margin: 0 auto;

}

.geeks img {
    width: 100%;
    transition: 0.4s all ease-in-out;

    
}

.geeks:hover img {
    transform: scale(1.1);
}


@media (max-width:768px) {
    .footer-content{
        margin-top: 250px !important;
    }
    
}